@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');
.attr2{
  padding: 10px;
}
img
{
  position: relative;

padding:1px;
   border:1px solid;
   border-radius: 15px;

 }
span{
  font-size: 18px;
  font-weight: bold;
}
