
@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');
img
{
  position: relative;
  width:20em;
padding:1px;
   border:1px solid #021a40;
   border-radius: 15px;
 }
img:hover
{
cursor: pointer;
}
#footer {
    position: inherit;
    bottom: 0;
    width: 100%;
}
